body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #1a1a1a, #333333);
    font-family: Arial, sans-serif;
    color: white;
  }
  
  #startScreen,
  #gameOverScreen {
    text-align: center;
  }
  
  canvas {
    border: 2px solid white;
    background: black;
    display: none; /* Изначально скрываем canvas */
  }
  
  button {
    padding: 10px 20px;
    font-size: 20px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background: #388E3C;
  }
  